@use '../styles/resources/sizes';
@use '../styles/resources/colors';

.my-header {
  background-color: colors.$dark;
  padding: sizes.$spacer-xs sizes.$spacer;

  &-title {
    padding: 0px;
    margin-right: sizes.$spacer-xs;
  }
}
