@use '../../styles/resources/colors';
@use '../../styles/resources/sizes';

.my-transactionactionitem {
  td {
    border-color: colors.$bd-dark-3;
    padding: 0px;
  }

  &-action {
    display: flex;
    align-items: center;
    padding: sizes.$space-xs 0px;
  }

  &-icon {
    font-size: sizes.$size-l;
    margin: 0px sizes.$space-s;
  }

  &-unknown {
    background-color: colors.$bg-dark-2 !important;

    .my-transactionactionitem-icon {
      color: lighten(colors.$bg-dark-2, percentage(colors.$variant-2));
    }
  }

  &-approval {
    background-color: colors.$bg-dark-3 !important;

    .my-transactionactionitem-icon {
      color: lighten(colors.$bg-dark-3, percentage(colors.$variant-2));
    }
  }

  &-transfer {
    background-color: colors.$bg-dark-3 !important;

    .my-transactionactionitem-icon {
      color: lighten(colors.$bg-dark-3, percentage(colors.$variant-2));
    }
  }

  &-buy {
    background-color: colors.$bg-success !important;

    .my-transactionactionitem-icon {
      color: lighten(colors.$bg-success, percentage(colors.$variant-2));
    }

    td {
      border-color: colors.$bd-success;
    }
  }

  &-sell {
    background-color: colors.$bg-danger !important;
    .my-transactionactionitem-icon {
      color: lighten(colors.$bg-danger, percentage(colors.$variant-2));
    }

    td {
      border-color: colors.$bd-danger;
    }
  }
}
