$size: 1em;
$size-l: 1.25em;
$size-xl: 2em;

// Space

$space-xs: 4px;
$space-s: 8px;
$space: 16px;
$space-l: 32px;
$space-xl: 64px;

// Borders

$border: 1px;
$border-radius-s: 4px;
$border-radius: 8px;
$border-radius-l: 16px;

// Responsive breakpoints

$breakpoint-w-xs: 640px;
$breakpoint-w-s: 768px;
$breakpoint-w-m: 1024px;
$breakpoint-w-l: 1200px;
