@use '../../styles/resources/sizes';
@use '../../styles/resources/fonts';
@use '../../styles/resources/colors';

.my-tokenpage {
  &-subheader {
    display: flex;
    justify-content: space-between;
  }

  &-links {
    display: inline-flex;
  }

  &-history {
    display: inline-flex;
    margin-left: sizes.$spacer-s;
  }

  // &-actions {
  //   justify-content: center;
  // }
}
