@use '../resources/sizes';
@use '../resources/colors';
@use '../resources/fonts';

// Headers

h1,
h2,
h3 {
  font-weight: bold;
  letter-spacing: 0.05em;
  margin: 0px 0px sizes.$space-s 0px;
}

h1 {
  font-size: sizes.$size-xl;
}

h2,
h3 {
  font-size: sizes.$size-l;
}
