@use './resources/colors';
@use './resources/fonts';
@use './resources/sizes';

html,
head,
body {
  background-color: colors.$bg-dark-1;
  color: colors.$fg-dark;
  font-family: fonts.$primary;
  font-size: sizes.$size;
  height: 100%;
  margin: 0px;
}

section {
  margin: sizes.$space 0px;
}
