@use './resources/colors';
@use './resources/fonts';
@use './resources/sizes';

html,
head,
body {
  background-color: colors.$background;
  color: colors.$light;
  font-family: fonts.$primary;
  font-size: sizes.$size;
  height: 100%;
  margin: 0px;
}

section {
  margin: sizes.$spacer 0px;
}
