@use 'resources/sizes';
@use 'resources/colors';
@use 'resources/fonts';

// Status

.my-disabled {
  &-fg,
  &-fg:hover,
  &-fg:active {
    color: colors.$disabled-fg !important;
  }

  &-bg,
  &-bg:hover,
  &-bg:active {
    background-color: colors.$disabled-bg !important;
    color: colors.$light !important;
  }
}

// Status

// Clickables

// .my-link,
// .my-clickabletablerow,
// .my-button {
//   cursor: pointer;

//   &:hover {
//     filter: brightness(colors.$lighter);
//   }

//   &:active {
//     filter: brightness(colors.$darker);
//   }

//   &:focus {
//     outline: 0px;
//     box-shadow: 0px 0px 3px lighten(colors.$primary, percentage(colors.$variant-1));
//   }
// }

// // Colors

// .my-color-neutral {
//   background-color: colors.$bg-light-1 ;
//   border-color: colors.$bd-light-1 ;
//   color: colors.$fg-light ;
// }

// .my-color-primary {
//   background-color: colors.$bg-primary ;
//   border-color: colors.$bd-primary ;
//   color: colors.$fg-light ;
// }

// .my-color-secondary {
//   background-color: colors.$bg-secondary ;
//   border-color: colors.$bd-secondary v;
//   color: colors.$fg-light ;
// }

// .my-color-success {
//   background-color: colors.$bg-success ;
//   border-color: colors.$bd-success ;
//   color: colors.$fg-dark ;
// }

// .my-color-danger {
//   background-color: colors.$bg-danger ;
//   border-color: colors.$bd-danger ;
//   color: colors.$fg-dark ;
// }

//   // Fonts

//   &-monospace {
//     font-family: fonts.$monospace;
//   }
// }
