@use '../styles/resources/colors';
@use '../styles/resources/sizes';

.my-ulink:hover {
  text-decoration: underline;

  &.my-disabled-fg {
    text-decoration: inherit;
  }
}

.my-link,
.my-ulink {
  display: inline-flex;
  align-items: center;

  &.my-active {
    font-weight: bold;
  }
}
