@use '../styles/resources/colors';
@use '../styles/resources/sizes';

.my-link,
.my-link:visited {
  cursor: pointer;
  color: colors.$secondary;
  text-decoration: inherit;
  padding: sizes.$space-xs;
}

.my-link:hover {
  filter: brightness(colors.$lighter);
}

.my-link:focus,
.my-clickabletr:focus {
  outline: 0px;
  box-shadow: 0px 0px 3px lighten(colors.$primary, percentage(colors.$variant-1));
}
