@use '../styles/resources/sizes';

.my-page {
  margin: sizes.$space sizes.$space-l;
  position: relative;

  &-titleloader {
    position: absolute;
    top: sizes.$space;
    left: sizes.$space-s + sizes.$space;
  }

  &-subheader {
    display: flex;
  }
}
